* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  background-image: url('../src/assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
